html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

ul {
    list-style: none;
    text-decoration: none;
}

section {
    height: 900px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: 64px 120px;
    background-image: url(./img/headphones_image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_top {
    display: flex;
    justify-content: space-between;
}

.menu {
padding: 64px 120px;
background-color: #E8EFF9;
}

.menu_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.nav_item {
    margin-bottom: 32px;
}

.nav_link {
    text-decoration: none;
    color: #292929;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
}